*.log
*.pyc
*.sql
*.swp
*.retry
*~
.*~
.DS_Store
.ropeproject
db.sqlite3
.svn
celerybeat-schedule.*
web/static
web/media
web/components
web/docs/build
web/logs
web/drops/mails
upload
migrations
node_modules
src
IPAexfont00301
